input[type=date]:required:invalid::-webkit-datetime-edit {
    color: lightgray;
}

input[type=time]:required:invalid::-webkit-datetime-edit {
    color: lightgray;
}

.containerInput {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p[class^='MuiFormHelperText-root-'] {
    color: white!important;
    height: 40px;
    cursor: default;
    font-size: 0.8125rem;
    align-items: center;
    border-radius: 6px;
    background-color: rgba(243, 96, 96, 0.945);
    display: inline-flex;
    padding: 0 0 0 10px;
    margin: 5px 0 0 0;
}