.containerCalendario {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 47vw;
    float: left;
}

.containerSala {
    padding: 20px;
}

.containerBigCalendar {
    padding: 20px;
    height: 115vh
}

.containerBotao {
    padding: 20px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerAutenticacao {
    width: 60vw;
    height: 50vh;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.containerConteudo {
    padding: 20px 40px 30px 40px;
    text-align: center;
}

.tituloFormulario {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.container {
    padding: 10px 40px 0px 40px;
    margin-bottom: 10px;
    max-height: calc(115vh+160px);
}

.containerFormulario {
    float: right;
    width: 47vw;
}

.containerLanches {
    padding-top: 5px;
    float: left;
    width: 47vw;
}

.containerUsers {
    padding-top: 5px;
    float: right;
    width: 47vw;
}

.blur {
    filter: blur(5px);
}

.containerProgresso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 30vh;
    z-index: 200;
    padding: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 180;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}